* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    border: solid 1px black;

    height: 98vh;
    width: 60vh;

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tab-title {
    display: flex;
    text-align: center;

    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 10px;
}
.tab-content {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

.tab-content.active {
    display: block;
}

.tab-bar {

    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; 

    border-top: 1px solid #000000;
}

.tab-bar button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);           
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    width: max-content;
    
}

.tab-bar button.active {
    background-color: rgb(221, 221, 221);
    font-size: 17px;
}
.shopping-lists-grid {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.shopping-list {
    border: solid 1px black;
    text-align: center;
}
.shopping-list:hover {
    background-color: rgb(221, 221, 221);;
    cursor: pointer;
}

.shopping-list-form {
    display: flex;
    flex-direction: column;
}

.inventory-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.input-group input {
    flex-grow: 1;
    border: 1px solid #ccc;
}

.profile-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-grid {
    display: grid;
    gap: 10px;
    padding: 10px;
}
.inventory-item {
    border: solid 1px black;
    text-align: center;
}

.inventory-item:hover {
    background-color: rgb(221, 221, 221);;
    cursor: pointer;
}